.uploadcard{
    background-color: #fff;
    padding: 30px;
    border-radius: 13px;
}
.center{
    text-align: center;
}
.circle{
    border: 3px dotted #0BB2E8;
    border-radius: 100px  ;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;

}
.plus{
    color: #0BB2E8;
    font-weight: bold;
    font-size: 40px !important;
    /* margin: auto 0; */
    margin-top: 16px;
}
.link{
    color: #0BB2E8;
    font-weight: bold;
    font-size: 60px !important;
    margin: auto 0;  
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

  }
  
  .btnupload {
    border:  3px dotted #0BB2E8;
    color: gray;
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin:32px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

  }