* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.form {
    background-color: rgb(145, 247, 247);
    padding: 80px;
    overflow-y: hidden;
}

.formHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    padding: 20px 0;
}

.inputForm {
    background: #FFFFFF;
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.25);
    border-radius: 16px !important;
    border: none;
    width: 100%;
    padding: 26px !important;
}

.button {
    display: flex;
    justify-content: space-between;
}

.subHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px
}

.btn {
    background: #0BB2E8;
    border-radius: 10px;
    color: #FFFFFF;
    width: 12%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.btn:hover {
    transform: scale(1.2);
}

/* Review styling */
.reviewbox1 {
    background: #273897;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    color: #fff;
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewbox2 {
    background: #E271BA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    color: #fff;
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewbox3 {
    background: #D71920;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    color: #fff;
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewbox4 {
    background: #00A79D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    color: #fff;
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewbox5 {
    background: #A08245;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    color: #fff;
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reviewbox6 {
    background: #F1F1F2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    /* color: #fff; */
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width:768px) {
    .form {
        padding: 20px;
    }

    .btn {
        width: 40%;
    }

}