.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root{
  display:none !important;
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root{
  background: none !important;
  box-shadow: none !important;
}
.css-zxdg2z{
  padding: 0 0px !important;
}
/* .css-1r9jet7{
  display: none !important;
} */
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  margin-top: -65px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
